name: CI Python

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci-python:
    strategy:
      matrix:
        packageDirectory: ["ml_wrappers"]
        operatingSystem: [ubuntu-latest, macos-latest, windows-latest]
        pythonVersion: ['3.10']

    runs-on: ${{ matrix.operatingSystem }}

    steps:
    - uses: actions/checkout@v3
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.pythonVersion }}
    - if: ${{ matrix.operatingSystem == 'macos-latest' }}
      name: Use Homebrew to install libomp on MacOS
      shell: bash -l {0}
      run: |
        brew install libomp
    - if: ${{ matrix.operatingSystem != 'macos-latest' }}
      name: Install pytorch on non-MacOS
      shell: bash -l {0}
      run: |
        conda install --yes --quiet pytorch torchvision captum cpuonly -c pytorch
    - if: ${{ matrix.operatingSystem == 'macos-latest' }}
      name: Install Anaconda packages on MacOS, which should not include cpuonly according to official docs
      shell: bash -l {0}
      run: |
        conda install --yes --quiet pytorch torchvision captum -c pytorch
    - if: ${{ matrix.operatingSystem == 'macos-latest' }}
      name: Install lightgbm from conda on MacOS
      shell: bash -l {0}
      run: |
        conda install --yes -c conda-forge lightgbm
    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e ./python
    - name: Install dev dependencies
      shell: bash -l {0}
      run: |
        pip install -r requirements-dev.txt
    - name: Install test dependencies
      shell: bash -l {0}
      run: |
        pip install -r requirements-test.txt
    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pytest ./tests -s -v --cov='ml_wrappers' --cov-report=xml --cov-report=html
    - name: Upload code coverage results
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.packageDirectory }}-code-coverage-results
        path: htmlcov
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        directory: .
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        flags: unittests
        name: codecov-umbrella
        verbose: true
