name: CI Python AutoML

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron:  '30 5 * * *'

jobs:
  ci-python-automl:
    strategy:
      matrix:
        packageDirectory: ["ml_wrappers"]
        operatingSystem: [ubuntu-latest, macos-latest, windows-latest]
        pythonVersion: ['3.7']

    runs-on: ${{ matrix.operatingSystem }}

    steps:
    - uses: actions/checkout@v3
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.pythonVersion }}
    - if: ${{ matrix.operatingSystem == 'macos-latest' }}
      name: Use Homebrew to install libomp on MacOS
      shell: bash -l {0}
      run: |
        brew install libomp
    - if: ${{ matrix.pythonVersion != '3.6' }}
      name: Install numpy
      shell: bash -l {0}
      run: |
        conda install --yes --quiet "numpy<=1.22.4" -c conda-forge
    - if: ${{ matrix.operatingSystem != 'macos-latest' }}
      name: Install pytorch on non-MacOS
      shell: bash -l {0}
      run: |
        conda install --yes --quiet pytorch torchvision captum cpuonly -c pytorch
    - if: ${{ matrix.operatingSystem == 'macos-latest' }}
      name: Install Anaconda packages on MacOS, which should not include cpuonly according to official docs
      shell: bash -l {0}
      run: |
        conda install --yes --quiet pytorch torchvision captum -c pytorch
    - if: ${{ matrix.operatingSystem == 'macos-latest' }}
      name: Install lightgbm from conda on MacOS
      shell: bash -l {0}
      run: |
        conda install --yes -c conda-forge lightgbm
    - name: Install pycocotools for automl
      shell: bash -l {0}
      run: |
        conda install --yes --quiet pycocotools==2.0.4 -c conda-forge
    - name: Install dev dependencies
      shell: bash -l {0}
      run: |
        pip install -r requirements-dev.txt
    - name: Install automl dependencies
      shell: bash -l {0}
      run: |
        pip install -r requirements-automl.txt        
    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e ./python
    - name: Install test dependencies
      shell: bash -l {0}
      run: |
        pip install -r requirements-test.txt
    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pytest ./tests/automl -s -v --durations=10 --cov='ml_wrappers' --cov-report=xml --cov-report=html
    - name: Upload code coverage results
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.packageDirectory }}-code-coverage-results
        path: htmlcov
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
    - if: ${{ (matrix.operatingSystem == 'windows-latest') && (matrix.pythonVersion == '3.7') }}
      name: Upload to codecov
      id: codecovupload1
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: .
        env_vars: OS,PYTHON
        fail_ci_if_error: false
        files: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        verbose: true
    - if: ${{ (steps.codecovupload1.outcome == 'failure') && (matrix.pythonVersion == '3.7') && (matrix.operatingSystem == 'windows-latest') }}
      name: Retry upload to codecov
      id: codecovupload2
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: .
        env_vars: OS,PYTHON
        fail_ci_if_error: false
        files: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        verbose: true
    - name: Set codecov status
      if: ${{ (matrix.pythonVersion == '3.7') && (matrix.operatingSystem == 'windows-latest') }}
      shell: bash
      run: |
        if ${{ (steps.codecovupload1.outcome == 'success') || (steps.codecovupload2.outcome == 'success') }} ; then
          echo fine
        else
          exit 1
        fi
