name: CI Python minimal environment

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron:  '30 5 * * *'

jobs:
  ci-python-minimal:
    strategy:
      matrix:
        packageDirectory: ["ml_wrappers"]
        operatingSystem: [ubuntu-latest, macos-latest, windows-latest]
        pythonVersion: ['3.9', '3.10', '3.11']

    runs-on: ${{ matrix.operatingSystem }}

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: ${{ matrix.pythonVersion }}
    - if: ${{ matrix.operatingSystem == 'macos-latest' }}
      name: Use Homebrew to install libomp on MacOS
      shell: bash -l {0}
      run: |
        brew install libomp
    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e ./python
    - name: Install test dependencies
      shell: bash -l {0}
      run: |
        pip install -r requirements-test.txt
    - name: Test with pytest
      shell: bash -l {0}
      run: |
        pytest ./tests/minimal -s -v --durations=10 --cov='ml_wrappers' --cov-report=xml --cov-report=html
    - name: Upload code coverage results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.packageDirectory }}-${{ matrix.pythonVersion }}-${{ matrix.operatingSystem }}-code-coverage-results
        path: htmlcov
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
    - if: ${{ (matrix.operatingSystem == 'windows-latest') && (matrix.pythonVersion == '3.9') }}
      name: Upload to codecov
      id: codecovupload1
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: .
        env_vars: OS,PYTHON
        fail_ci_if_error: false
        files: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        verbose: true
    - if: ${{ (steps.codecovupload1.outcome == 'failure') && (matrix.pythonVersion == '3.9') && (matrix.operatingSystem == 'windows-latest') }}
      name: Retry upload to codecov
      id: codecovupload2
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: .
        env_vars: OS,PYTHON
        fail_ci_if_error: false
        files: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        verbose: true
    - name: Set codecov status
      if: ${{ (matrix.pythonVersion == '3.9') && (matrix.operatingSystem == 'windows-latest') }}
      shell: bash
      run: |
        if ${{ (steps.codecovupload1.outcome == 'success') || (steps.codecovupload2.outcome == 'success') }} ; then
          echo fine
        else
          exit 1
        fi
