name: Conda Python Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci-python:
    strategy:
      matrix:
        packageDirectory: ["ml_wrappers"]
        operatingSystem: [ubuntu-latest, macos-latest, windows-latest]
        pythonVersion: [3.6, 3.7, 3.8, 3.9, '3.10']

    runs-on: ${{ matrix.operatingSystem }}

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.pythonVersion }}
    - name: Install package
      shell: bash -l {0}
      run: |
        pip install -e ./python
    - name: Test with pytest
      shell: bash -l {0}
      run: |
        conda install pytest
        pytest ./tests -s -v

